.main-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.main-page::after {
    content: "";
    position: absolute;
    left: -470px;
    top: 0;
    width: 470px;
    height: 419px;
    background-image: url("../../assets/icons/decor-left.svg");
    animation-delay: 4s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-name: el-1;
}

@keyframes el-1 {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(469px, 0);
    }
}

.main-page::before {
    content: "";
    position: absolute;
    right: -271px;
    top: 0;
    width: 271px;
    height: 327px;
    background-image: url("../../assets/icons/decor-right.svg");
    animation-delay: 4s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-name: el-2;
}

@keyframes el-2 {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(-271px, 0);
    }
}

.main {
    text-align: center;
    flex-grow: 1;
    padding: 100px 0;
}

.main-body {
    opacity: 0;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-name: main-body;
}

@keyframes main-body {
    from {
        transform: translate(0, -40%);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.main-footer {
    opacity: 0;
    animation-delay: 3s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-name: main-footer;
}

@keyframes main-footer {
    from {
        transform: translate(0, -50%);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.8);
    margin: 0 auto 32px;
    width: 423px;
}

.main-header {
    opacity: 0;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-name: main-header;
}

@keyframes main-header {
    from {
        transform: translate(0, -50%);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.main-title {
    font-weight: 700;
    font-size: 72px;
    line-height: 104%;
    text-align: center;
    text-transform: uppercase;
    color: #162C4E;
    margin-bottom: 8px;
    opacity: 0.39;
}

.text-but {
    margin: 0 auto 8px;
}

.events-container {
    margin: 0 110px;
    height: 100vh;
}

.events-title {
    margin-bottom: 40px;
}

@media screen and (max-height: 1000px) and (orientation: landscape) {
    .main-page {
        height: auto;
    }
}

@media screen and (max-width: 1400px) {
    .main-page::after {
        width: 249px;
        height: 209px;
        background-image: url("../../assets/icons/decor-left-768.svg");
    }

    .main-page::before {
        width: 280px;
        height: 294px;
        background-image: url("../../assets/icons/decor-right-768.svg");
    }
}

@media screen and (max-width: 768px) {
    .main-title {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .text {
        font-size: 16px;
        margin: 0 auto 15px;
        width: 300px;
    }

    .events-container {
        margin: 0 40px;
        height: auto;
    }

    .events-title {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 415px) {
    .main-page {
        height: auto;
    }

    .main {
        padding: 80px 0 120px;
    }

    .main-page::after {
        width: 182px;
        height: 146px;
        background-image: url("../../assets/icons/decor-left-414.svg");
    }

    .main-page::before {
        width: 183px;
        height: 215px;
        background-image: url("../../assets/icons/decor-right-414.svg");
    }

    .events-container {
        margin: 0 20px;
    }
}