.footer {
    padding: 61px 0 72px;
    background-color: #162C4E;
    display: flex;
    justify-content: center;
    position: relative;
}

.footer__link {
    position: absolute;
    top: 76px;
    right: 111px;
}

.link-button {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #ffffff;
    cursor: pointer;
    position: relative;
}

.link-button:hover {
    border-bottom: 1px solid #ffffff;
    transition: all 0.5s ease-out;
}

.link-button::after {
    content: "";
    position: absolute;
    right: -34px;
    top: 2px;
    width: 24px;
    height: 24px;
    background-image: url("../../assets/icons/arrow-down.svg");
}

.error {
    color: #DF2224;
    text-align: center;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        padding: 40px 0;
    }

    .footer__link {
        margin-top: 15px;
        position: static;
        text-align: center;
    }

    .error {
        top: 12%;
    }
}
