@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 18px;
}

.container{
    padding: 0 15px;
    margin: auto;
}

.section{
    padding: 110px 0 99px;
}

@media screen and (max-width: 768px) {
    .section{
        padding: 59px 0;
    }
}

@media screen and (max-width: 415px) {
    .container{
        width: 100%;
    }
}


